@import "styles/fonts/fonts.css";

.full_app{
  background-color: #eeeddd;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.App{
  color:#393e46;
  margin:0% 12%;
}
.header_title{
  font-family: MoskBold700;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 45px;
  font-weight: bolder;
  color: #eeb916;
  text-decoration: underline 10px dotted #eeb916;
 /*border: #2cb1cb solid 4px;
  border-radius: 25px;*/
}


/* sytyling the scrolle bar */

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 2em; /* Width of the scrollbar track */
}

::-webkit-scrollbar-track {
  background: #eeeddd; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(transparent,#eeb916) ;
           /*#888; Color of the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(transparent, #eeb916) ;
  border-radius: 25px;

}

/* Style for the thumb on hover (if supported) */
body::-webkit-scrollbar-thumb:hover {
  background: #eeb916;
  border-radius: 0px;
}